header, body p {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 1;
}

header, body h1 {
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
}

header, body h2 {
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 1;
}

header, body h3 {
  font-family: Georgia, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1;
}

header {
  width: 100%;
  height: 6vh;
  box-sizing: border-box;
  box-shadow: grey 0px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  position: sticky;
  top: 0;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey; 
}

#logo {
  flex: 1;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

header img {
  margin-left: 30px;
  width: 70%;
  height: auto;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 20px;
  flex-shrink: 0;
  margin-right: 120px;
  margin-left: 120px;
}

nav ul li a {
  color: #22A2F2;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #DECE9B;
}

#div-espace-theme {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 50px;
}

body {
  color: #9EB0B0;
  background-color: #253136;
  margin: 0;
  padding: 0;
}

body.theme-mode {
  color: #D3EBEB;
  background-color: #13191C;
}

#acceuil {
  color: #9EB0B0;
  background-color: #253136;
  width: 100%;
  height: 100vh;
  padding : 50px 70px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

#acceuil .theme-mode {
  color: #D3EBEB;
  background-color: #13191C;
}

.partie-gauche {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partie-droite {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partie-droite .prochaines-competences {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partie-droite .prochaines-competences .position-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partie-droite .prochaines-competences .espacement-logo {
  margin: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.partie-droite .prochaines-competences .espacement-logo img {
  max-width: 70%;
  max-height: 70%;
}

.partie-droite .prochaines-competences .infobulle {
  position: absolute;
  top: 100%;
  left: 70%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.partie-droite .prochaines-competences .espacement-logo:hover .infobulle {
  visibility: visible;
  opacity: 0.5;
}

#a-propos {
  color: #253136;
  background-color: #9EB0B0;
  width: 100%;
  height: 100vh;
  padding : 50px 70px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

#a-propos .theme-mode {
  color: #D3EBEB;
  background-color: #13191C;
}

.partie-gauche {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partie-gauche img {
  flex: 1;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
}

.partie-droite {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.partie-droite .biographie {
  margin-top: 30px;
  flex: 1;
}

.partie-droite h1, h2 {
  text-align: center;
  margin-bottom: 5%;
}

.partie-droite p {
  margin-bottom: 5%;
  line-height: 1.8;
}

.partie-droite .competences {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partie-droite .competences .position-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partie-droite .competences .espacement-logo {
  flex: 1;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.partie-droite .competences .espacement-logo img {
  width: 70px;
  height: auto;
  max-width: 100%;
  max-height: 70px;
}

.partie-droite .competences .infobulle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.partie-droite .competences .espacement-logo:hover .infobulle {
  visibility: visible;
  opacity: 0.8;
}

#parcours {
  color: #9EB0B0;
  background-color: #253136;
  width: 100%;
  height: 100vh;
  padding: 50px 70px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#parcours .theme-mode {
  color: #D3EBEB;
  background-color: #13191C;
}

.etudes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  line-height: 1.4;
}

.formations-professionnelles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  line-height: 1.4;
}

.soft-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  line-height: 1.4;
  font-size: 15px;
}

#parcours h2 {
  margin-bottom: 5%;
  text-align: center;
  margin-top: 30px;
}

#parcours ul {
  margin-top: 0;
}

#projets {
  color: #253136;
  background-color: #9EB0B0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projets .theme-mode {
  color: #D3EBEB;
  background-color: #13191C;
}

.projets-github {
  display: flex;
  transition: transform 0.5s ease;
  align-items: stretch;
  align-items: flex-start;
}

.slide {
  flex-grow: 1;
  width: 33.33%;
  border-right: 1px solid grey;
  box-sizing: border-box;
  padding: 0 10px;
}

.slide:last-child {
  border-right: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.slide:nth-child(1):hover img {
  transform: scale(3);
  z-index: 1;
  transform-origin: left center;
}

.slide:nth-child(2):hover img {
  transform: scale(3);
  z-index: 1;
  transform-origin: center center;
}

.slide:nth-child(3):hover img {
  transform: scale(3);
  z-index: 1;
  transform-origin: right center;
}

.slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact {
  color: #9EB0B0;
  background-color: #253136;
  width: 100%;
  height: 100vh;
  padding : 50px 70px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  border-top: 5px solid grey;
  border-bottom: 5px solid grey;
}

#contact .theme-mode {
  color: #D3EBEB;
  background-color: #13191C;
}

.partie-gauche {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titre-mail .adresse-email {
  margin-bottom: 500px;
}

.copier-adresse {
  padding: 10px 20px;
  margin: 0 auto;
}

.partie-droite {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titre-contact {
  border: 3px solid grey;
  padding: 5px 8px;
  margin-bottom: 20px;
}

.reseaux-sociaux {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.reseaux-sociaux:last-child {
  margin-bottom: 0;
}

.reseaux-sociaux img {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}

.style-video {
  width: 90%;
  height: 70%;
}
